
.box.menulist .iconfont {
	font-size: 2rem;
	vertical-align: super;
	margin-right: 2rem;
}

.box.menulist .iconfont.icon-bangdingyouxiang {
	color: #F0E68C;
}

.box.menulist .iconfont.icon-jihuozhanghu {
	color: #87CEFA;
}

.box.menulist>a{
	color: #000000;
}
