<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wx</display-name>
  <servlet>
    <servlet-name>weixinServlet</servlet-name>
    <servlet-class>com.wx.servlet.WeixinServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CreateMenu</servlet-name>
    <servlet-class>com.wx.servlet.CreateMenu</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>autoStartServlet</servlet-name>
    <servlet-class>com.wx.servlet.autoStartServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBookServlet</servlet-name>
    <servlet-class>com.web.servlet.book.getBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addEmailServlet</servlet-name>
    <servlet-class>com.web.servlet.book.addEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getEmailServlet</servlet-name>
    <servlet-class>com.web.servlet.book.getEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>sendEmailServlet</servlet-name>
    <servlet-class>com.web.servlet.book.sendEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>serchBookServlet</servlet-name>
    <servlet-class>com.web.servlet.book.serchBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBookTypeServlet</servlet-name>
    <servlet-class>com.web.servlet.book.getBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserInfo</servlet-name>
    <servlet-class>com.web.servlet.book.getUserInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.admin.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExitLoginServlet</servlet-name>
    <servlet-class>com.admin.Servlet.ExitLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getUserServlet</servlet-name>
    <servlet-class>com.admin.Servlet.getUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadBookServlet</servlet-name>
    <servlet-class>com.admin.Servlet.UploadBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SetBookTypeServlet</servlet-name>
    <servlet-class>com.admin.Servlet.SetBookTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelbookServlet</servlet-name>
    <servlet-class>com.admin.Servlet.DelbookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getBookMsgServlet</servlet-name>
    <servlet-class>com.admin.Servlet.getBookMsgServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateBookServlet</servlet-name>
    <servlet-class>com.admin.Servlet.updateBookServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getActiveServlet</servlet-name>
    <servlet-class>com.admin.Servlet.getActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>addActiveServlet</servlet-name>
    <servlet-class>com.admin.Servlet.addActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>updateActiveServlet</servlet-name>
    <servlet-class>com.admin.Servlet.updateActiveServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelactiveServlet</servlet-name>
    <servlet-class>com.admin.Servlet.DelactiveServlet</servlet-class>
  </servlet>





















  
  <servlet-mapping>
    <servlet-name>weixinServlet</servlet-name>
    <url-pattern>/wx.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateMenu</servlet-name>
    <url-pattern>/CreateMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>autoStartServlet</servlet-name>
    <url-pattern>/autoStartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBookServlet</servlet-name>
    <url-pattern>/getBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addEmailServlet</servlet-name>
    <url-pattern>/addEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getEmailServlet</servlet-name>
    <url-pattern>/getEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendEmailServlet</servlet-name>
    <url-pattern>/sendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>serchBookServlet</servlet-name>
    <url-pattern>/serchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBookTypeServlet</servlet-name>
    <url-pattern>/getBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserInfo</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitLoginServlet</servlet-name>
    <url-pattern>/ExitLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getUserServlet</servlet-name>
    <url-pattern>/getUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadBookServlet</servlet-name>
    <url-pattern>/UploadBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetBookTypeServlet</servlet-name>
    <url-pattern>/SetBookTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelbookServlet</servlet-name>
    <url-pattern>/DelbookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getBookMsgServlet</servlet-name>
    <url-pattern>/getBookMsgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateBookServlet</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getActiveServlet</servlet-name>
    <url-pattern>/getActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addActiveServlet</servlet-name>
    <url-pattern>/addActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateActiveServlet</servlet-name>
    <url-pattern>/updateActiveServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelactiveServlet</servlet-name>
    <url-pattern>/DelactiveServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>